{% extends "proj/base.html.twig" %}

{% block title %}Om projekt{% endblock %}

{% block main %}
    <h1>Om projekt</h1>


    <h2>Poker Square rules</h2>
    <p>
        The game starts with placing a card onto a space in a 5x5 grid.<br>
        Cards are placed one at a time and once a card is placed on the grid, it can no longer be moved.<br>
        Once all 25 cards are dealt, points are scored on hands of 5 cards formed horizontally in rows or vertically in columns.
    </p>

{% endblock %}

{% block footer %}Footer{% endblock %}
