*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
}

a,
a:visited,
a:hover {
    color: black;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: min(65ch, 100% - 2rem);
    margin-inline: auto;
}

body>header,
body>footer {
    flex: 0 0 auto;
}

body>footer {
    padding-inline: calc((100% - min(65ch, 100% - 2rem)) / 2);
    padding-block: 2rem;
}

/* Typografy */

body {
    font-family: ui-monospace, monospace;
    font-size: clamp(16px, 3vw, 20px);
    line-height: 1.6;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

/* Navbar */

header nav ul {
    padding-inline: calc((100% - min(80ch, 100% - 2rem)) / 2);
    list-style-type: none;
    margin: 0;
    padding-block: 0;
    overflow: hidden;
}

header nav li {
    float: left;
}

header nav li a,
header nav li a:visited {
    display: block;
    //color: white;
    text-align: center;
    padding: .1em .3em;
    margin: .3em;
    text-decoration: none;
    border: dashed .2em transparent;
    border-radius: .5em;
}

/* Change the link color to #111 (black) on hover */
header nav li a:hover {
    // color: #fff;
    // background-color: #111;
    border-color: #111;
}

header nav .active {
    background-color: #04AA6D;
}


/* Game layout */

.grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr) max-content;
    grid-template-rows: repeat(5, 1fr) max-content;
    grid-column-gap: clamp(10px, 3vw, 20px); //20px;
    grid-row-gap: clamp(10px, 3vw, 20px); //20px;

    padding: clamp(10px, 3vw, 20px); //1em;
    background-color: aquamarine;
 
    .card {
        aspect-ratio: 2.5/3.5;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 2px darkgrey;
        background-color: whitesmoke;
    }

    > .points {
        align-self: center;
        justify-self: center;
    }

    > .new {
        grid-row: 1 / 7;
        align-self: center;
    }
}

/* buttons as links */
button.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    text-decoration: underline;
    cursor: pointer;
    font: unset;    
}