{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Index</h1>
    <p>
        <img src="{{ asset('img/me.jpg') }}" width="250" style="float: right;" alt="Bild på mig">
    </p>

    <p>
        Mitt namn är Martin född och uppvuxen i Stockholm där jag fortfarande bor kvar.
    </p>

    <p>
        Jag började jobba direkt efter gymnasiet runt millennieskiftet delvis med webbtjänster...
    </p>

    <p>
        Senaste 15 åren har jag jobbat med fritidsbåtar, men tyckte nu det kunde vara spännande att studera
        programmering som varit ett intresse genom alla åren.
    </p>

{% endblock %}

{% block footer %}Footer{% endblock %}
