{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<h1>Redovisning i kursen mvc</h1>

<article id="kmom01">
    <h2>Kmom01</h2>

    <p>
        PHP har jag jobbat med till och från sedan version 2 ungefär tror jag.<br>
        Och några mindre försök i objektorienterad stil också, men inte speciellt mycket.<br>


    </p>
    <p>
        En klass är en "mall" som man använder för att skapa nya objekt.<br>
        Klasser kan innehålla metoder (funktioner) och properties(varibler).<br>
        Klasser och objekt är två begrepp som är viktiga när det gäller objektorienterad programmering.<br>
        Klassen är en mall för objektet kan man säga, för att utnyttja klassens metoder måste man skapa ett objekt.<br>
        Ett objekt är en förekomst av en klass.<br>
        <br>
        En klass kan dock innehålla statistika metoder och properties som kan köras utan att ett objekt skapats från klassen.
    </p>
    <p>
        Jag uppfattar kodbas och koden som väldigt strukturerad och gillar den.<br>
        Det är min första bekantskap med symfony och det finns nog mer att lära.<br>
        Kanske skulle jag önskat lite mer struktur på routes, men det går säkert att göra själv.<br>
    </p>
    <p>
        För mig med en del väldigt enkel PHP bakom mig vill jag framförallt bli bättre på att organisera min kod.<br>
        Så värdefulla delar är framförallt Namespaces, autoloading m.m. som jag vill lära mig mer om.<br>
    </p>
    <p>
        Att sätta upp och använda Symfony blir mitt TIL denna vecka.<br>
    </p>
</article>

<article id="kmom02">
    <h2>Kmom02</h2>
    <p></p>
</article>


{% endblock %}

