{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
    <h1>Redovisning i kursen mvc</h1>

    <article id="kmom01">
        <h2>Kmom01</h2>
        <p></p>    
    </article>

    <article id="kmom02">
        <h2>Kmom02</h2>
        <p></p>    
    </article>


{% endblock %}

{% block footer %}ffffffffff{% endblock %}
